.h2{
    color: #0079c1;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    font-family: Roboto,sans-serif;
}

.h3{
    color: #0079c1;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    font-family: Roboto,sans-serif;
}

.txt{
    font-family: Roboto,sans-serif;
}

.lala{
    color: #0079c1;
    font-family: Roboto,sans-serif;
    line-height: 26px;
    font-family: Roboto,sans-serif;
    font-weight: bold;
}
